/* 
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                    Profile Component Styles
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.hoverCursor:hover {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 -1rem;
}

.wrapper header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 0.5rem;

  font-size: 1.15rem;
  font-weight: 500;
}

.wrapper header .name {
  width: 100%;
}

/* Contains profile img & posts, following, followers stats*/
.wrapper section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0.25rem 0.5rem 0.25rem clamp(0.5rem, 3vw, 3rem);
  gap: clamp(0.75rem, 5vw, 10rem);
}

.wrapper section img {
  border-radius: 50%;
  overflow: hidden;
}

.wrapper section div {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: clamp(0.5rem, 3vw, 2rem);
}

/* 
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                  User Header Component Styles
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
/* For the posts, following, followers stats*/
.wrapper section div p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: clamp(0.85rem, 5vw, 1.05rem);
}

.num {
  font-weight: 500;
}

.link {
  cursor: pointer;
}

/* User's Real Name */
.name {
  padding: 0.25rem 0.5rem;
  margin: 0;

  font-weight: 500;
}

/* User's bio */
.bio {
  padding: 0.25rem 0.5rem;
  margin: 0;

  font-size: clamp(0.9rem, 2.5vw, 1.05rem);
  line-height: 1.2;
}

/* 
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                     Follow/Message Styles
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.profileActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.25rem;
}

.profileActions > div {
  flex: 1;
}

.additBtnClass {
  width: 100%;
}

.profileActions .onHover {
  display: none;
}

.profileActions:hover .noHover {
  display: none;
}

.profileActions:hover .onHover {
  display: inline-block;
}

/* 
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                  Follow Modal Component Styles
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.modal {
  width: 100%;
  min-width: 90vw;
  height: 80vh;

  padding: 0.5rem;
}

.modalActions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 0;

  font-size: 1.25rem;
  border-bottom: var(--border);
}

.modalTabs {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
}

.modalTabs button {
  position: relative;
  margin: 0 0.5rem;
  font-size: 0.95rem;
  font-weight: 600;

  color: var(--grey-700);
  background-color: transparent;
  border: none;
}

.modalTabs button.modalTabActive::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;

  background: var(--on-surface);
}

.modalTabs button:hover,
.modalClose:hover {
  cursor: pointer;
}

.modalTabActive {
  color: var(--on-surface) !important;
}

.modalContent {
  overflow: auto;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .modal {
    min-width: 45rem;
  }

  .modalActions {
    padding-bottom: 0.25rem;
  }

  .modalTabs {
    padding: 0.25rem 0.5rem;
  }

  .modalTabs button {
    font-size: 1.25rem;
  }

  .modalTabs button.modalTabActive::after {
    bottom: -9px;
  }

  .wrapper {
    max-width: var(--reasonable-max-app-width);
    margin: 0 auto;
  }
}
