.login {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  padding: 1rem;
}

.login-actions {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.signup p {
  margin: 0;
}

.link {
  font-weight: 600;

  color: #0095f6;
}

@media (min-width: 568px) {
  .login {
    max-width: 30rem;
  }
}
