.navbar {
  width: 100vw;

  position: fixed;
  bottom: 0;

  border-top: 1px solid black;
  background-color: white; /* Make dynamic for light/dark mode */
  z-index: 100;
}

.navbar ul {
  display: flex;
  justify-content: space-around;

  padding: 0.5rem 0;
  margin: 0;

  list-style: none;
}

.navbar li {
  font-size: 1.5rem;
}
