.navbar {
  width: 100%;
  max-width: var(--max-app-width);

  position: fixed;
  bottom: 0;

  border-top: var(--border);
  background-color: var(--background);
  z-index: var(--top-z);
}

.navbar ul {
  display: flex;
  justify-content: space-around;

  padding: 0.5rem 0;
  margin: 0;

  list-style: none;
}

.navbar li {
  font-size: 1.5rem;
}

/* For Special Button w/ Dropdown */
.ddBtn {
  cursor: pointer;
}

.ddBtn ul {
  padding: 0;
}

.ddBtn li {
  font-size: 1.15rem;
  padding: 0.25rem 1rem;
}

.alignCenter {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.logoutBtn {
  color: var(--error);
}
