/* Logo Container */
.logo {
  width: 100%;
  max-height: var(--nav-height);
  position: fixed;
  top: 0;

  overflow: hidden;
  padding-left: 0.25rem;
  border-bottom: var(--border);
  background-color: var(--background);
  z-index: calc(var(--top-z) + 51);
}

.logo:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;

  border-top: var(--border);
  background-color: var(--background);
  z-index: calc(var(--top-z) + 50);
}

.navWrapper {
  width: 100%;
  max-width: var(--reasonable-max-nav-width);
}

.navItems {
  display: flex;
  justify-content: space-around;

  padding: 0.5rem 0;
  margin: 0;

  list-style: none;
}

.navbar li {
  font-size: 1.5rem;
}

/* For Special Button w/ Dropdown */
.ddBtn {
  cursor: pointer;
}

.ddBtn ul {
  padding: 0;
}

.ddBtn li {
  font-size: 1.15rem;
}

.dropDownItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  padding: 0.25rem 1rem;
}

.dropDownItem span {
  flex: 1;
}

.logoutBtn {
  color: var(--error);
}

@media (min-width: 568px) {
  .logo {
    width: max-content;
    display: block;
    position: static;
    padding-left: 1rem;
    border: none;
  }

  .navbar {
    top: 0;
    bottom: auto;

    border-top: none;
    border-bottom: var(--border);
  }

  .navWrapper {
    display: flex;
    justify-content: space-between;
  }

  .navItems {
    justify-content: flex-end;
    gap: 1.5rem;

    padding: 0.5rem 1.5rem;
  }
}

@media (min-width: 768px) {
  .logo {
    padding-left: 1.5rem;
  }
}
