.ddWrapper {
  display: none;
  position: relative;
  z-index: calc(var(--top-z) + 1);

  list-style: none;
  margin: 0;
  padding: 0;
}

.ddWrapper.visible {
  display: flex;
  justify-content: center;
}

.ddMenu {
  display: flex;
  flex-direction: column;

  width: max-content;
  position: absolute;
  z-index: inherit;

  padding: 0;
  margin: 0;

  font-size: 1.15rem;
  border-radius: 0.15rem;
  background: var(--surface);
  color: var(--on-surface);
  box-shadow: var(--shadow);
}

.arrow {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  position: absolute;
  z-index: calc(var(--top-z) + 2);

  background: var(--surface);
  transform: translateY(-50%) rotate(45deg);
}

/* Where the arrow appears in the dropdown */
.ddMenu.arrowLeft {
  transform: translateX(45%);
}

.ddMenu.arrowRight {
  transform: translateX(-45%);
}

/* Direction dropdown Opens */
.openTop .arrow {
  transform: translateY(-552%) rotate(45deg);
}

.openTop .ddMenu {
  bottom: 2.53rem;
}
