/* For (Singular) User Component */
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.25rem;
}

/* Contains Information about User */
.infoContainer {
  width: calc(100vw - 8rem);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  overflow: hidden;
}

.img {
  height: 2rem;
  width: 2rem;
}

.rounded {
  border-radius: 50%;
  overflow: hidden;
}

/* User Info (Name & Username) */
.userInfo {
  width: 90%;
  font-size: 0.95rem;
}

.userInfo a {
  display: inline-block;
  vertical-align: bottom;

  max-width: calc(100% - 0.75rem) !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-weight: 500;
}

.userInfo p {
  padding: 0;
  margin: 0;

  font-size: 0.9rem;
  color: var(--on-surface-accent);

  max-width: calc(100% - 0.75rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
