.wrapper {
  max-width: var(--reasonable-max-app-width);
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.wrapper h2 {
  font-size: 1.35rem;
  font-weight: 500;
  margin: 0.75rem 0;
}

.wrapper label {
  font-weight: 500;
}

.alignRight {
  display: flex;
  flex-direction: row-reverse;

  padding: 0.25rem 0;
}

/* Modal Stuff */
.modalText {
  font-size: 1.25rem;
  margin: 0;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.modalBtn {
  padding: 0.35rem 0.65rem;
}

.important {
  font-style: italic;
  color: var(--error);
}

.bold {
  font-weight: 500;
}
