.wrapper {
  display: flex;
  flex-direction: column;

  padding: 0.5rem;
}

.header {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 1rem 0;
}

/* Wraps the general content of the page */
.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Button + Where the Uploaded Image Preview is Displayed */
.selectImg {
  width: 80vw;
  height: 80vw;

  background-position: center;
  background-size: cover;
  align-self: center;

  border: none;
  text-align: center;
}

.selectImg:hover {
  cursor: pointer;
  background-color: rgba(179, 179, 179, 0.35);
}

/* Hide the actual form input for files */
.selectImgInput {
  display: none;
}

.iconSize {
  font-size: 2rem;
  text-align: center;
}

/* Contains Description + Create New Post Button */
.actions {
  width: 100%;
}

/* Assorted Form Classes */
.descriptionGroup {
  padding: 0.25rem;
}

.label {
  display: block;
  font-weight: 500;
  padding-bottom: 0.25rem;
}

/* Create New Post Button Class */
.alignRight {
  display: flex;
  flex-direction: row-reverse;

  padding: 0.25rem 0;
}

@media (min-width: 568px) {
  .selectImg {
    max-width: 20rem;
    max-height: 20rem;
  }
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    justify-content: space-around;
  }
}
