.btn {
  --primary: #0095f6;
  --accent: white;
  --hover: #0078c9;

  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  border: 1px solid var(--primary);

  background-color: var(--primary);
  color: var(--accent);

  font-size: clamp(0.9rem, 2vw, 1rem);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.btn.outline:hover {
  cursor: pointer;
  background-color: var(--hover);
  color: var(--accent);
}

.btn:disabled {
  cursor: default;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.65),
      rgba(255, 255, 255, 0.65)
    )
    var(--primary);
  border: 1px solid transparent;
}

.pill {
  border-radius: 1rem;
}

.outline {
  background-color: transparent;
  color: var(--primary);
}

.primary {
  --primary: #0095f6;
  --hover: #0078c9;
}

.error {
  --primary: #f5554d;
  --hover: #df362e;
}

.success {
  --primary: #6ace5e;
  --hover: #46c738;
}

.transparent {
  --primary: var(--grey-600);
  --hover: var(--off-white-900);
}
