.wrapper {
  width: 100%;
  padding-bottom: 0.5rem;
}

.wrapper.noExternPad {
  padding: 0;
}

.input,
.textarea {
  width: 100%;

  padding: 0.5rem 0.75rem;

  border-radius: 0.5rem;
  border: 1px solid var(--off-white-800);
  outline: 0;

  font-size: clamp(0.9rem, 2vw, 1rem);

  background-color: var(--off-white-500);
}

.textarea {
  resize: vertical;
  font-family: var(--font-family);
}

.noResize {
  resize: none;
}

.input:focus,
.input:active,
.textarea:focus,
.textarea:active {
  border: 1px solid var(--off-white-900);
}

.error {
  margin: 0;
  padding: 0;

  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.3;

  color: red;
}
