.wrapper {
  width: 100%;
  margin: 1rem 0;
  padding: 0;

  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 1rem var(--shadow-clr);
}

.padding {
  padding: 0.25rem 0.5rem;
}

.postImg {
  object-fit: contain;
}

.postImg:hover {
  cursor: pointer;
}

.likes {
  padding: 0.25rem;

  font-size: 0.95rem;
}

.description {
  padding: 0.25rem;
}

.description span:first-child {
  margin-right: 0.25rem;
  font-weight: 600;
}
