.post {
  width: 100%;
  max-width: 35rem;
  padding: 0.25rem;
  margin: 0.5rem 0;
}

.postImg {
  object-fit: contain;
}

.likes {
  padding: 0.25rem;

  font-size: 0.95rem;
}

.description {
  padding: 0.25rem;
}

.description span:first-child {
  margin-right: 0.25rem;
  font-weight: 600;
}
