.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgContainer {
  display: none;
}

.rounded {
  border-radius: 50%;
  overflow: hidden;
}

.content {
  font-size: 0.95rem;
  margin: 0;
}

.bold {
  font-weight: 500;
}

.textContent {
  color: var(--grey-800);
}

@media (min-width: 568px) {
  .imgContainer {
    display: block;
    align-self: flex-start;
    height: 100%;
    width: 100%;
    max-height: 2rem;
    max-width: 2rem;

    padding: 0.25rem;
  }
}
