/* 
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                   Comment Component Styles
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.comment {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0.25rem;
}

/* 
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                Comment Settings Component Styles
  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.commentSettings {
  width: max-content;

  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Dropdown Styles */
.ddTrigger {
  vertical-align: bottom;
  cursor: pointer;
}

.deleteBtn {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  color: var(--error);
}
