.btn {
  --btn-primary: #0095f6;
  --btn-accent: white;
  --btn-hover: #0078c9;

  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  border: 1px solid var(--btn-primary);

  background-color: var(--btn-primary);
  color: var(--btn-accent);

  font-size: clamp(0.9rem, 2vw, 1rem);
}

.btn:hover:not(:disabled) {
  cursor: pointer;
  background-color: var(--btn-hover);
}

.btn.outline:hover:not(:disabled) {
  cursor: pointer;
  background-color: var(--btn-hover);
  color: var(--btn-accent);
}

.btn:disabled:not(.outline) {
  cursor: default;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.65),
      rgba(255, 255, 255, 0.65)
    )
    var(--btn-primary);
  border: 1px solid transparent;
}

.btn.outline:disabled {
  background: var(--shadow-clr-200);
}

.pill {
  border-radius: 1rem;
}

.outline {
  background-color: transparent;
  color: var(--btn-primary);
}

.sizeFit {
  width: max-content;
}

.primary {
  --btn-primary: #0095f6;
  --btn-hover: #0078c9;
}

.error {
  --btn-primary: #f5554d;
  --btn-hover: #df362e;
}

.success {
  --btn-primary: #6ace5e;
  --btn-hover: #46c738;
}

.transparent {
  --btn-primary: var(--grey-600);
  --btn-hover: var(--off-white-900);
}

.clear {
  --btn-primary: transparent;
  --btn-hover: var(--off-white-600);
}
