/* If No Posts */
.nopost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  font-weight: 500;
}

.nopost p {
  padding: 0.75rem;
  margin: 0;

  font-size: 1.35rem;
}

.noposticon {
  height: 4rem;
  width: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  margin: 0;

  font-size: 3rem;
  border-radius: 50%;
  border: 2px solid black;
}
