.header {
  height: var(--nav-height);
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;

  padding-left: 0.25rem;
  z-index: calc(var(--top-z) + 50);
  pointer-events: none;
}

.headerContent {
  width: 100%;
  max-width: var(--reasonable-max-nav-width);
}

.selection {
  width: max-content;
  display: flex;
  align-items: center;
  pointer-events: all !important;
}

.selection:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 -0.5rem;
}

.dropDown {
  transform: translate(-0.5rem, 1rem);
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 568px) {
  .header {
    padding-left: 0rem;
    border: none;
  }

  .headerContent {
    display: flex;
  }

  .content {
    margin: 0 auto;
    max-width: calc(var(--reasonable-max-app-width) - 7.5rem);
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .header {
    padding-left: 3rem;
  }
}
