.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.25rem;

  font-size: 1.5rem;
}

.mainActions {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.mainActions div {
  display: flex;
  align-items: center;
}

.mainActions:hover,
.settings:hover {
  cursor: pointer;
}

/* Dropdown Button Styling */
.ddTrigger {
  cursor: pointer;
}

.deleteBtn {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  color: var(--error);
}

/* Modal Stuff */
.modalText {
  font-size: 1.25rem;
  margin: 0;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.modalBtn {
  padding: 0.35rem 0.65rem;
}

.liked {
  animation: liked 0.5s linear forwards;
}

.unliked {
  animation: unliked 0.5s linear forwards;
}

@keyframes liked {
  0% {
    opacity: 0.25;
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    color: var(--error);
  }
}
