.containerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  padding: 1rem;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.redirect p {
  margin: 0;

  font-size: clamp(0.9rem, 2vw, 1rem);
}

.link {
  font-weight: 600;

  color: var(--blue-400);
}

.catch-phrase {
  margin: 0;

  font-weight: 600;

  color: var(--on-surface);
}

@media (min-width: 568px) {
  .wrapper {
    max-width: 30rem;
  }
}
