.post {
  width: calc(100% / 3);
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 3vw, 2rem);

  visibility: hidden;
  z-index: 1;
}

.overlay div {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  font-size: clamp(0.9rem, 3vw, 1.15rem);
  color: white;
}

.post:hover .overlay {
  visibility: visible;
  background-color: var(--shadow-clr-200);

  cursor: pointer;
}

.iconflip {
  transform: rotateY(180deg);
}
